//sidebar
$menuBg:#212a33;
$subMenuBg:#FFFFFF;
$menuHover:#CCCCCC;

$ymBlack:#212a33;
$ymBlack2:#2c3642;
$ymBlack3:#35414f;
$YmlGreen:#5db75d;

$oneMenuFontColor:#a8bace;
$twoMenuFontColor:#8599b1;
$contentFontColor:#706f6f;
$titleFontColor:#686868;
$keyLinkFontColor:#5cb85c;


